
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox float-e-margins">

        <div class="ibox-title">
          <h5>CCV Stars children</h5>
          <div class="ibox-tools">
            <a class="btn btn-default btn-sm"
               data-toggle="collapse" data-target="#filter"><i class="fa fa-filter"></i></a>
          </div>
        </div>

        <div class="ibox-content" style="display: block;">

          <div id="filter" class="filter collapse">

            <%= form_tag children_path, method: :get, class: "filter" do |f| %>

            <%= hidden_field_tag :order_by, @filter["order_by"] %>

            <div class="col-sm-12">
              <div class="panel panel-default">

                <div class="panel-heading">
                  <h5>Filter settings</h5>
                </div>

                <div class="panel-body">

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag :with_first_name, 'First name contains', :class => 'control-label' %>
                      <%= text_field_tag :with_first_name, @filter["with_first_name"], :class => 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= label_tag :with_last_name, 'Last name contains', :class => 'control-label' %>
                      <%= text_field_tag :with_last_name, @filter["with_last_name"], :class => 'form-control' %>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag :with_ministry_tracker_id, 'Ministry tracker ID equals', :class => 'control-label' %>
                      <%= text_field_tag :with_ministry_tracker_id, @filter["with_ministry_tracker_id"], :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :with_age, 'Age equals', :class => 'control-label' %>
                      <%= number_field_tag :with_age, @filter["with_age"], min: 1, max: 99, :class => 'form-control' %>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag :with_update_required, 'Update is required', :class => 'control-label' %>
                      <div class="checkbox checkbox-primary">
                        <%= check_box_tag :with_update_required, 1, @filter["with_update_required"] %>
                        <%= label_tag :with_update_required, 'Yes' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= label_tag :with_medical_information, 'Medical warning exists', :class => 'control-label' %>
                      <div class="checkbox checkbox-primary">
                        <%= check_box_tag :with_medical_information, 1, @filter["with_medical_information"] %>
                        <%= label_tag :with_medical_information, 'Yes' %>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group pull-right">
                      <%= link_to children_clear_filter_path, :class => 'btn btn-default' do %>
                        <i class="fa fa-times"></i> Clear filter
                      <% end %>
                      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                        <i class="fa fa-filter"></i> Apply filter
                      <% end %>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <% end %>

          </div>

          <%= link_to new_child_path, :class => 'btn btn-default btn-sm' do %>
            <i class="fa fa-plus"></i> Add a child
          <% end %>

          <table class="table table-striped">
            
            <thead>
              <tr>
                <th><%= sortable 'last_name,first_name', @filter, 'Name' %></th>
                <th><%= sortable 'date_of_birth', @filter, 'Date of birth' %></th>
                <th>Age</th>
                <th>Flags </th>
                <th><%= sortable 'ministry_tracker_id', @filter, 'Ministry Tracker ID' %></th>
                <th>Links </th>
              </tr>
            </thead>

            <tbody>
              <% @children.each do |child| %>
              <tr>
                <td><%= child.name %> </td>
                <td><%= date_of_birth(child) %> </td>
                <td><span class="age"><%= child.age %> </span></td>
                <td> 
                  <% if child.update_required? then %> 
                  <span class="update-details-warning fa fa-edit" 
                  data-toggle="tooltip" title="Update required"> </span> 
                  <% end %>
                  <% if child.medical_information? then %> 
                  <span class="medical-warning text-danger fa fa-medkit" 
                  data-toggle="tooltip" title="Medical information available"> </span> 
                  <% end %>
                </td>
                <td><%= child.ministry_tracker_id %> </td>
                <td>
                  <%= link_to child_path(child), :class => '' do %> 
                  <i class="fa fa-info-circle"></i> View details
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="6">
                  <div class="pull-right">
                    <%= paginate @children %>
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>

        </div>
      </div>
    </div>
  </div>
</div>
